[scheme=vkcom_dark], .vkui--vkBase--dark, .vkui--vkCom--dark {
    --vkui--theme_name: 'vkontakteComDark';
    --vkui--gradient_tint: rgba(41, 41, 41, 0) 0%, rgba(41, 41, 41, 0.05) 15%, rgba(41, 41, 41, 0.2) 30%, rgba(41, 41, 41, 0.8) 70%, rgba(41, 41, 41, 0.95) 85%, rgba(41, 41, 41, 1) 100%;
    --vkui--gradient: rgba(34, 34, 34, 0) 0%, rgba(34, 34, 34, 0.05) 15%, rgba(34, 34, 34, 0.2) 30%, rgba(34, 34, 34, 0.8) 70%, rgba(34, 34, 34, 0.95) 85%, rgba(34, 34, 34, 1) 100%;
    --vkui--elevation1: 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    --vkui--elevation1_invert_y: 0px 0px 2px 0px rgba(0, 0, 0, 0.10), 0px -2px 2px 0px rgba(0, 0, 0, 0.20);
    --vkui--elevation2: 0px 4px 8px 0px rgba(0, 0, 0, 0.15), 0px 0px 4px 0px rgba(0, 0, 0, 0.20);
    --vkui--elevation3: 0px 0px 2px 0px rgba(0, 0, 0, 0.30), 0px 4px 16px 0px rgba(0, 0, 0, 0.30);
    --vkui--elevation4: 0px 0px 8px 0px rgba(0, 0, 0, 0.10), 0px 16px 16px 0px rgba(0, 0, 0, 0.20);
    --vkui--theme_inherits_from: 'vkComDark';
    --vkui--colors_scheme: dark;
    --vkui--color_background_accent: #71aaeb;
    --vkui--color_background_accent--hover: #77adec;
    --vkui--color_background_accent--active: #7cb1ed;
    --vkui--color_background_accent_themed: #e1e3e6;
    --vkui--color_background_accent_themed--hover: #d8dbdf;
    --vkui--color_background_accent_themed--active: #cfd2d8;
    --vkui--color_background_accent_themed_alpha: rgba(255, 255, 255, 0.2);
    --vkui--color_background_accent_themed_alpha--hover: rgba(255, 255, 255, 0.24);
    --vkui--color_background_accent_themed_alpha--active: rgba(255, 255, 255, 0.28);
    --vkui--color_background_accent_tint--hover: #61a2ff;
    --vkui--color_background_accent_tint--active: #67a6ff;
    --vkui--color_background_accent_alternative--hover: #2f8dec;
    --vkui--color_background_accent_alternative--active: #3792ed;
    --vkui--color_background: #141414;
    --vkui--color_background--hover: #1d1d1d;
    --vkui--color_background--active: #272727;
    --vkui--color_background_content: #222222;
    --vkui--color_background_content--hover: #2b2b2b;
    --vkui--color_background_content--active: #343434;
    --vkui--color_background_content_inverse: #ffffff;
    --vkui--color_background_content_inverse--hover: #ebedf0;
    --vkui--color_background_content_inverse--active: #d7d8db;
    --vkui--color_background_secondary: #333333;
    --vkui--color_background_secondary--hover: #3b3b3b;
    --vkui--color_background_secondary--active: #434343;
    --vkui--color_background_secondary_alpha: rgba(255, 255, 255, 0.08);
    --vkui--color_background_secondary_alpha--hover: rgba(255, 255, 255, 0.12);
    --vkui--color_background_secondary_alpha--active: rgba(255, 255, 255, 0.16);
    --vkui--color_background_tertiary: #292929;
    --vkui--color_background_tertiary--hover: #323232;
    --vkui--color_background_tertiary--active: #3a3a3a;
    --vkui--color_background_tertiary_alpha: rgba(255, 255, 255, 0.03);
    --vkui--color_background_tertiary_alpha--hover: rgba(255, 255, 255, 0.07);
    --vkui--color_background_tertiary_alpha--active: rgba(255, 255, 255, 0.11);
    --vkui--color_background_contrast--hover: #ebedf0;
    --vkui--color_background_contrast--active: #d7d8db;
    --vkui--color_background_contrast_secondary_alpha: rgba(255, 255, 255, 0.2);
    --vkui--color_background_contrast_inverse--hover: #3b3b3b;
    --vkui--color_background_contrast_inverse--active: #434343;
    --vkui--color_background_contrast_themed: #323232;
    --vkui--color_background_contrast_themed--hover: #3a3a3a;
    --vkui--color_background_contrast_themed--active: #424242;
    --vkui--color_background_modal: #292929;
    --vkui--color_background_modal--hover: #323232;
    --vkui--color_background_modal--active: #3a3a3a;
    --vkui--color_background_modal_inverse: #ffffff;
    --vkui--color_background_modal_inverse--hover: #ebedf0;
    --vkui--color_background_modal_inverse--active: #d7d8db;
    --vkui--color_background_positive--hover: #52b652;
    --vkui--color_background_positive--active: #59b959;
    --vkui--color_background_positive_tint: #2f422f;
    --vkui--color_background_positive_tint--hover: #374a37;
    --vkui--color_background_positive_tint--active: #405140;
    --vkui--color_background_warning: #473315;
    --vkui--color_background_warning--hover: #4e3b1e;
    --vkui--color_background_warning--active: #564328;
    --vkui--color_background_negative: #ff5c5c;
    --vkui--color_background_negative--hover: #ff6363;
    --vkui--color_background_negative--active: #ff6969;
    --vkui--color_background_negative_tint: #522e2e;
    --vkui--color_background_negative_tint--hover: #593636;
    --vkui--color_background_negative_tint--active: #603f3f;
    --vkui--color_background_info_tint: #1c3954;
    --vkui--color_background_info_tint--hover: #25415b;
    --vkui--color_background_info_tint--active: #2e4962;
    --vkui--color_field_background: #292929;
    --vkui--color_field_background--hover: #323232;
    --vkui--color_field_background--active: #3a3a3a;
    --vkui--color_header_background: #222222;
    --vkui--color_header_background--hover: #2b2b2b;
    --vkui--color_header_background--active: #343434;
    --vkui--color_text_accent: #71aaeb;
    --vkui--color_text_accent--hover: #77adec;
    --vkui--color_text_accent--active: #7cb1ed;
    --vkui--color_text_accent_themed: #e1e3e6;
    --vkui--color_text_accent_themed--hover: #e2e4e7;
    --vkui--color_text_accent_themed--active: #e3e5e8;
    --vkui--color_text_primary: #e1e3e6;
    --vkui--color_text_primary--hover: #e2e4e7;
    --vkui--color_text_primary--active: #e3e5e8;
    --vkui--color_text_primary_alpha: rgba(249, 252, 255, 0.72);
    --vkui--color_text_primary_alpha--hover: rgba(249, 252, 255, 0.76);
    --vkui--color_text_primary_alpha--active: rgba(249, 252, 255, 0.8);
    --vkui--color_text_primary_invariably--hover: #0a0a0a;
    --vkui--color_text_primary_invariably--active: #141414;
    --vkui--color_text_secondary: #828282;
    --vkui--color_text_secondary--hover: #878787;
    --vkui--color_text_secondary--active: #8c8c8c;
    --vkui--color_text_secondary_alpha: rgba(247, 251, 255, 0.42);
    --vkui--color_text_secondary_alpha--hover: rgba(247, 251, 255, 0.46);
    --vkui--color_text_secondary_alpha--active: rgba(247, 251, 255, 0.5);
    --vkui--color_text_subhead: #939393;
    --vkui--color_text_subhead--hover: #979797;
    --vkui--color_text_subhead--active: #9c9c9c;
    --vkui--color_text_tertiary: #656565;
    --vkui--color_text_tertiary--hover: #6b6b6b;
    --vkui--color_text_tertiary--active: #717171;
    --vkui--color_text_contrast--hover: #ebedf0;
    --vkui--color_text_contrast--active: #d7d8db;
    --vkui--color_text_contrast_themed: #222222;
    --vkui--color_text_contrast_themed--hover: #2b2b2b;
    --vkui--color_text_contrast_themed--active: #343434;
    --vkui--color_text_positive--hover: #52b652;
    --vkui--color_text_positive--active: #59b959;
    --vkui--color_text_negative: #ff5c5c;
    --vkui--color_text_negative--hover: #ff6363;
    --vkui--color_text_negative--active: #ff6969;
    --vkui--color_text_link: #71aaeb;
    --vkui--color_text_link--hover: #77adec;
    --vkui--color_text_link--active: #7cb1ed;
    --vkui--color_text_link_themed: #939393;
    --vkui--color_text_link_themed--hover: #979797;
    --vkui--color_text_link_themed--active: #9c9c9c;
    --vkui--color_text_link_tint--hover: #77adec;
    --vkui--color_text_link_tint--active: #7cb1ed;
    --vkui--color_text_link_visited--hover: #508bce;
    --vkui--color_text_link_visited--active: #5890d0;
    --vkui--color_text_muted: #cccccc;
    --vkui--color_text_muted--hover: #cecece;
    --vkui--color_text_muted--active: #d0d0d0;
    --vkui--color_link_contrast--hover: #ebedf0;
    --vkui--color_link_contrast--active: #d7d8db;
    --vkui--color_icon_accent: #71aaeb;
    --vkui--color_icon_accent--hover: #77adec;
    --vkui--color_icon_accent--active: #7cb1ed;
    --vkui--color_icon_accent_themed: #e1e3e6;
    --vkui--color_icon_accent_themed--hover: #e2e4e7;
    --vkui--color_icon_accent_themed--active: #e3e5e8;
    --vkui--color_icon_primary: #e1e3e6;
    --vkui--color_icon_primary--hover: #e2e4e7;
    --vkui--color_icon_primary--active: #e3e5e8;
    --vkui--color_icon_primary_invariably: #2c2d2e;
    --vkui--color_icon_primary_invariably--hover: #343536;
    --vkui--color_icon_primary_invariably--active: #3d3e3f;
    --vkui--color_icon_medium: #939393;
    --vkui--color_icon_medium--hover: #979797;
    --vkui--color_icon_medium--active: #9c9c9c;
    --vkui--color_icon_medium_alpha: rgba(255, 255, 255, 0.48);
    --vkui--color_icon_medium_alpha--hover: rgba(255, 255, 255, 0.52);
    --vkui--color_icon_medium_alpha--active: rgba(255, 255, 255, 0.56);
    --vkui--color_icon_secondary: #828282;
    --vkui--color_icon_secondary--hover: #878787;
    --vkui--color_icon_secondary--active: #8c8c8c;
    --vkui--color_icon_secondary_alpha: rgba(255, 255, 255, 0.40);
    --vkui--color_icon_secondary_alpha--hover: rgba(255, 255, 255, 0.44);
    --vkui--color_icon_secondary_alpha--active: rgba(255, 255, 255, 0.48);
    --vkui--color_icon_tertiary: #656565;
    --vkui--color_icon_tertiary--hover: #6b6b6b;
    --vkui--color_icon_tertiary--active: #717171;
    --vkui--color_icon_tertiary_alpha: rgba(255, 255, 255, 0.24);
    --vkui--color_icon_tertiary_alpha--hover: rgba(255, 255, 255, 0.28);
    --vkui--color_icon_tertiary_alpha--active: rgba(255, 255, 255, 0.32);
    --vkui--color_icon_contrast: #e1e3e6;
    --vkui--color_icon_contrast--hover: #e2e4e7;
    --vkui--color_icon_contrast--active: #e3e5e8;
    --vkui--color_icon_contrast_themed: #222222;
    --vkui--color_icon_contrast_themed--hover: #2b2b2b;
    --vkui--color_icon_contrast_themed--active: #343434;
    --vkui--color_icon_contrast_secondary--hover: #f3f3f5;
    --vkui--color_icon_contrast_secondary--active: #f3f4f6;
    --vkui--color_icon_positive--hover: #52b652;
    --vkui--color_icon_positive--active: #59b959;
    --vkui--color_icon_warning: #edb055;
    --vkui--color_icon_warning--hover: #eeb35c;
    --vkui--color_icon_warning--active: #eeb663;
    --vkui--color_icon_negative: #ff5c5c;
    --vkui--color_icon_negative--hover: #ff6363;
    --vkui--color_icon_negative--active: #ff6969;
    --vkui--color_stroke_accent: #71aaeb;
    --vkui--color_stroke_accent--hover: #77adec;
    --vkui--color_stroke_accent--active: #7cb1ed;
    --vkui--color_stroke_accent_themed: #e1e3e6;
    --vkui--color_stroke_accent_themed--hover: #e2e4e7;
    --vkui--color_stroke_accent_themed--active: #e3e5e8;
    --vkui--color_separator_primary: #363738;
    --vkui--color_separator_primary--hover: #3e3f40;
    --vkui--color_separator_primary--active: #464748;
    --vkui--color_separator_primary2x: #444546;
    --vkui--color_separator_primary2x--hover: #4b4c4d;
    --vkui--color_separator_primary2x--active: #535455;
    --vkui--color_separator_primary3x: #505253;
    --vkui--color_separator_primary3x--hover: #57595a;
    --vkui--color_separator_primary3x--active: #5e6061;
    --vkui--color_separator_primary_alpha: rgba(255, 255, 255, 0.12);
    --vkui--color_separator_primary_alpha--hover: rgba(255, 255, 255, 0.16);
    --vkui--color_separator_primary_alpha--active: rgba(255, 255, 255, 0.2);
    --vkui--color_separator_secondary: #292929;
    --vkui--color_separator_secondary--hover: #323232;
    --vkui--color_separator_secondary--active: #3a3a3a;
    --vkui--color_stroke_positive--hover: #52b652;
    --vkui--color_stroke_positive--active: #59b959;
    --vkui--color_stroke_negative: #ff5c5c;
    --vkui--color_stroke_negative--hover: #ff6363;
    --vkui--color_stroke_negative--active: #ff6969;
    --vkui--color_stroke_contrast: #ffffff;
    --vkui--color_stroke_contrast--hover: #ebedf0;
    --vkui--color_stroke_contrast--active: #d7d8db;
    --vkui--color_image_border_alpha: rgba(255, 255, 255, 0.08);
    --vkui--color_image_border_alpha--hover: rgba(255, 255, 255, 0.12);
    --vkui--color_image_border_alpha--active: rgba(255, 255, 255, 0.16);
    --vkui--color_field_border_alpha: rgba(255, 255, 255, 0.12);
    --vkui--color_field_border_alpha--hover: rgba(255, 255, 255, 0.16);
    --vkui--color_field_border_alpha--active: rgba(255, 255, 255, 0.2);
    --vkui--color_accent_blue: #397dcc;
    --vkui--color_accent_blue--hover: #4182ce;
    --vkui--color_accent_blue--active: #4987d0;
    --vkui--color_accent_gray--hover: #b1bac4;
    --vkui--color_accent_gray--active: #b4bdc7;
    --vkui--color_accent_red--hover: #ff3b4e;
    --vkui--color_accent_red--active: #ff4356;
    --vkui--color_accent_orange_fire--hover: #f1634b;
    --vkui--color_accent_orange_fire--active: #f16953;
    --vkui--color_accent_orange--hover: #ffa40a;
    --vkui--color_accent_orange--active: #ffa814;
    --vkui--color_accent_orange_peach: #ffc062;
    --vkui--color_accent_orange_peach--hover: #ffc368;
    --vkui--color_accent_orange_peach--active: #ffc56f;
    --vkui--color_accent_lime: #caf96c;
    --vkui--color_accent_lime--hover: #ccf972;
    --vkui--color_accent_lime--active: #cef978;
    --vkui--color_accent_green: #4bb34b;
    --vkui--color_accent_green--hover: #52b652;
    --vkui--color_accent_green--active: #59b959;
    --vkui--color_accent_cyan: #55f1d2;
    --vkui--color_accent_cyan--hover: #5cf2d4;
    --vkui--color_accent_cyan--active: #63f2d6;
    --vkui--color_accent_azure: #5d9ee9;
    --vkui--color_accent_azure--hover: #63a2ea;
    --vkui--color_accent_azure--active: #6aa6eb;
    --vkui--color_accent_purple: #937ff5;
    --vkui--color_accent_purple--hover: #9784f5;
    --vkui--color_accent_purple--active: #9c89f6;
    --vkui--color_accent_violet: #a94fff;
    --vkui--color_accent_violet--hover: #ac56ff;
    --vkui--color_accent_violet--active: #b05dff;
    --vkui--color_accent_raspberry_pink: #f060c0;
    --vkui--color_accent_raspberry_pink--hover: #f166c3;
    --vkui--color_accent_raspberry_pink--active: #f16dc5;
    --vkui--color_accent_pink: #f899ff;
    --vkui--color_accent_pink--hover: #f89dff;
    --vkui--color_accent_pink--active: #f9a1ff;
    --vkui--color_accent_secondary--hover: #478fe1;
    --vkui--color_accent_secondary--active: #4e93e2;
    --vkui--color_overlay_secondary: rgba(55, 56, 57, 0.5);
    --vkui--color_overlay_secondary--hover: rgba(55, 56, 57, 0.54);
    --vkui--color_overlay_secondary--active: rgba(55, 56, 57, 0.58);
    --vkui--color_action_sheet_text: #71aaeb;
    --vkui--color_action_sheet_text--hover: #77adec;
    --vkui--color_action_sheet_text--active: #7cb1ed;
    --vkui--color_image_placeholder: #2a2b2c;
    --vkui--color_image_placeholder--hover: #333334;
    --vkui--color_image_placeholder--active: #3b3c3d;
    --vkui--color_image_placeholder_alpha: rgba(241, 247, 255, 0.08);
    --vkui--color_image_placeholder_alpha--hover: rgba(241, 247, 255, 0.12);
    --vkui--color_image_placeholder_alpha--active: rgba(241, 247, 255, 0.16);
    --vkui--color_skeleton_from: #292929;
    --vkui--color_skeleton_from--hover: #323232;
    --vkui--color_skeleton_from--active: #3a3a3a;
    --vkui--color_skeleton_to: #333333;
    --vkui--color_skeleton_to--hover: #3b3b3b;
    --vkui--color_skeleton_to--active: #434343;
    --vkui--color_button_text: #e1e3e6;
    --vkui--color_button_text--hover: #e2e4e7;
    --vkui--color_button_text--active: #e3e5e8;
    --vkui--color_button_icon: #e1e3e6;
    --vkui--color_button_icon--hover: #e2e4e7;
    --vkui--color_button_icon--active: #e3e5e8;
    --vkui--color_button_stroke: #e1e3e6;
    --vkui--color_button_stroke--hover: #e2e4e7;
    --vkui--color_button_stroke--active: #e3e5e8;
    --vkui--color_write_bar_icon: #e1e3e6;
    --vkui--color_write_bar_icon--hover: #e2e4e7;
    --vkui--color_write_bar_icon--active: #e3e5e8;
    --vkui--color_write_bar_input_background: #424242;
    --vkui--color_write_bar_input_background--hover: #4a4a4a;
    --vkui--color_write_bar_input_background--active: #515151;
    --vkui--color_write_bar_input_border: #555555;
    --vkui--color_write_bar_input_border--hover: #5c5c5c;
    --vkui--color_write_bar_input_border--active: #636363;
    --vkui--color_write_bar_input_border_alpha: rgba(255, 255, 255, 0.8);
    --vkui--color_write_bar_input_border_alpha--hover: rgba(255, 255, 255, 0.84);
    --vkui--color_write_bar_input_border_alpha--active: rgba(255, 255, 255, 0.88);
    --vkui--color_track_background: #828282;
    --vkui--color_track_background--hover: #878787;
    --vkui--color_track_background--active: #8c8c8c;
    --vkui--color_track_buffer: #ffffff;
    --vkui--color_track_buffer--hover: #ebedf0;
    --vkui--color_track_buffer--active: #d7d8db;
    --vkui--color_search_field_background: #424242;
    --vkui--color_search_field_background--hover: #4a4a4a;
    --vkui--color_search_field_background--active: #515151;
    --vkui--color_panel_header_icon: #71aaeb;
    --vkui--color_panel_header_icon--hover: #77adec;
    --vkui--color_panel_header_icon--active: #7cb1ed;
    --vkui--color_segmented_control: #626364;
    --vkui--color_segmented_control--hover: #68696a;
    --vkui--color_segmented_control--active: #6f6f70;
    --vkui--color_tabbar_text_inactive: #76787a;
    --vkui--color_tabbar_text_inactive--hover: #7b7d7f;
    --vkui--color_tabbar_text_inactive--active: #818385;
    --vkui--color_transparent--hover: rgba(255, 255, 255, 0.04);
    --vkui--color_transparent--active: rgba(255, 255, 255, 0.08);
    --vkui--vkontakte_color_snippet_border_alpha: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_color_snippet_border_alpha--hover: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_color_snippet_border_alpha--active: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_color_snippet_background: #272727;
    --vkui--vkontakte_color_snippet_background--hover: #303030;
    --vkui--vkontakte_color_snippet_background--active: #383838;
    --vkui--vkontakte_color_modal_card_border_alpha: rgba(255, 255, 255, 0.12);
    --vkui--vkontakte_color_modal_card_border_alpha--hover: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_color_modal_card_border_alpha--active: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_color_landing_snippet_border_alpha: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_color_landing_snippet_border_alpha--hover: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_color_landing_snippet_border_alpha--active: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_color_action_sheet_separator_alpha: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_color_action_sheet_separator_alpha--hover: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_color_action_sheet_separator_alpha--active: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_color_input_border: #555555;
    --vkui--vkontakte_color_input_border--hover: #5c5c5c;
    --vkui--vkontakte_color_input_border--active: #636363;
    --vkui--vkontakte_color_search_bar_background: #222222;
    --vkui--vkontakte_color_search_bar_background--hover: #2b2b2b;
    --vkui--vkontakte_color_search_bar_background--active: #343434;
    --vkui--vkontakte_color_search_bar_field_tint: #b2b2b2;
    --vkui--vkontakte_color_search_bar_field_tint--hover: #b5b5b5;
    --vkui--vkontakte_color_search_bar_field_tint--active: #b8b8b8;
    --vkui--vkontakte_background_hover_alpha: rgba(255, 255, 255, 0.08);
    --vkui--vkontakte_background_hover_alpha--hover: rgba(255, 255, 255, 0.12);
    --vkui--vkontakte_background_hover_alpha--active: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_color_accent_alternate: #ffffff;
    --vkui--vkontakte_color_accent_alternate--hover: #ebedf0;
    --vkui--vkontakte_color_accent_alternate--active: #d7d8db;
    --vkui--vkontakte_color_background_suggestions: #333333;
    --vkui--vkontakte_color_background_suggestions--hover: #3b3b3b;
    --vkui--vkontakte_color_background_suggestions--active: #434343;
    --vkui--vkontakte_color_background_keyboard: #333333;
    --vkui--vkontakte_color_background_keyboard--hover: #3b3b3b;
    --vkui--vkontakte_color_background_keyboard--active: #434343;
    --vkui--vkontakte_color_content_placeholder_icon--hover: #b5b5b5;
    --vkui--vkontakte_color_content_placeholder_icon--active: #b8b8b8;
    --vkui--vkontakte_color_content_tint_foreground--hover: #979797;
    --vkui--vkontakte_color_content_tint_foreground--active: #9c9c9c;
    --vkui--vkontakte_color_text_name: #e1e3e6;
    --vkui--vkontakte_color_text_name--hover: #e2e4e7;
    --vkui--vkontakte_color_text_name--active: #e3e5e8;
    --vkui--vkontakte_color_control_background: #555555;
    --vkui--vkontakte_color_control_background--hover: #5c5c5c;
    --vkui--vkontakte_color_control_background--active: #636363;
    --vkui--vkontakte_color_control_foreground: #e1e3e6;
    --vkui--vkontakte_color_control_foreground--hover: #e2e4e7;
    --vkui--vkontakte_color_control_foreground--active: #e3e5e8;
    --vkui--vkontakte_color_control_tint_muted: #939393;
    --vkui--vkontakte_color_control_tint_muted--hover: #979797;
    --vkui--vkontakte_color_control_tint_muted--active: #9c9c9c;
    --vkui--vkontakte_color_header_search_field_background: #424242;
    --vkui--vkontakte_color_header_search_field_background--hover: #4a4a4a;
    --vkui--vkontakte_color_header_search_field_background--active: #515151;
    --vkui--vkontakte_color_header_search_field_tint: #b2b2b2;
    --vkui--vkontakte_color_header_search_field_tint--hover: #b5b5b5;
    --vkui--vkontakte_color_header_search_field_tint--active: #b8b8b8;
    --vkui--vkontakte_color_header_tab_active_indicator--hover: #4182ce;
    --vkui--vkontakte_color_header_tab_active_indicator--active: #4987d0;
    --vkui--vkontakte_color_icon_outline_medium: #b2b2b2;
    --vkui--vkontakte_color_icon_outline_medium--hover: #b5b5b5;
    --vkui--vkontakte_color_icon_outline_medium--active: #b8b8b8;
    --vkui--vkontakte_color_icon_outline_secondary: #939393;
    --vkui--vkontakte_color_icon_outline_secondary--hover: #979797;
    --vkui--vkontakte_color_icon_outline_secondary--active: #9c9c9c;
    --vkui--vkontakte_color_skeleton_shimmer_from: #222222;
    --vkui--vkontakte_color_skeleton_shimmer_from--hover: #2b2b2b;
    --vkui--vkontakte_color_skeleton_shimmer_from--active: #343434;
    --vkui--vkontakte_color_alpha_skeleton_shimmer_to--hover: rgba(255, 255, 255, 0.04);
    --vkui--vkontakte_color_alpha_skeleton_shimmer_to--active: rgba(255, 255, 255, 0.08);
    --vkui--vkontakte_color_loader_background: #555555;
    --vkui--vkontakte_color_loader_background--hover: #5c5c5c;
    --vkui--vkontakte_color_loader_background--active: #636363;
    --vkui--vkontakte_color_loader_tint--hover: #878787;
    --vkui--vkontakte_color_loader_tint--active: #8c8c8c;
    --vkui--vkontakte_color_music_playback_icon: #ffffff;
    --vkui--vkontakte_color_music_playback_icon--hover: #ebedf0;
    --vkui--vkontakte_color_music_playback_icon--active: #d7d8db;
    --vkui--vkontakte_color_status_background: #222222;
    --vkui--vkontakte_color_status_background--hover: #2b2b2b;
    --vkui--vkontakte_color_status_background--active: #343434;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary: #939393;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--hover: #979797;
    --vkui--vkontakte_color_placeholder_icon_foreground_primary--active: #9c9c9c;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary: #656565;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--hover: #6b6b6b;
    --vkui--vkontakte_color_placeholder_icon_foreground_secondary--active: #717171;
    --vkui--vkontakte_color_placeholder_icon_tint: #ffffff;
    --vkui--vkontakte_color_placeholder_icon_tint--hover: #ebedf0;
    --vkui--vkontakte_color_placeholder_icon_tint--active: #d7d8db;
    --vkui--vkontakte_color_poll_option_background: #ffffff;
    --vkui--vkontakte_color_poll_option_background--hover: #ebedf0;
    --vkui--vkontakte_color_poll_option_background--active: #d7d8db;
    --vkui--vkontakte_color_tabbar_active_icon: #ffffff;
    --vkui--vkontakte_color_tabbar_active_icon--hover: #ebedf0;
    --vkui--vkontakte_color_tabbar_active_icon--active: #d7d8db;
    --vkui--vkontakte_color_tabbar_background: #333333;
    --vkui--vkontakte_color_tabbar_background--hover: #3b3b3b;
    --vkui--vkontakte_color_tabbar_background--active: #434343;
    --vkui--vkontakte_color_tabbar_inactive_icon: #828282;
    --vkui--vkontakte_color_tabbar_inactive_icon--hover: #878787;
    --vkui--vkontakte_color_tabbar_inactive_icon--active: #8c8c8c;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary: #828282;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--hover: #878787;
    --vkui--vkontakte_color_tabbar_tablet_text_secondary--active: #8c8c8c;
    --vkui--vkontakte_color_toolbar_attach_background_from: #828282;
    --vkui--vkontakte_color_toolbar_attach_background_from--hover: #878787;
    --vkui--vkontakte_color_toolbar_attach_background_from--active: #8c8c8c;
    --vkui--vkontakte_color_splash_screen_icon: #333333;
    --vkui--vkontakte_color_splash_screen_icon--hover: #3b3b3b;
    --vkui--vkontakte_color_splash_screen_icon--active: #434343;
    --vkui--vkontakte_color_icon_name: #b2b2b2;
    --vkui--vkontakte_color_icon_name--hover: #b5b5b5;
    --vkui--vkontakte_color_icon_name--active: #b8b8b8;
    --vkui--vkontakte_color_panel_tab_active_text: #e1e3e6;
    --vkui--vkontakte_color_panel_tab_active_text--hover: #e2e4e7;
    --vkui--vkontakte_color_panel_tab_active_text--active: #e3e5e8;
    --vkui--vkontakte_color_modal_card_header_close: #ffffff;
    --vkui--vkontakte_color_modal_card_header_close--hover: #ebedf0;
    --vkui--vkontakte_color_modal_card_header_close--active: #d7d8db;
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha--hover: rgba(255, 255, 255, 0.28);
    --vkui--vkontakte_im_bubble_button_outgoing_background_alpha--active: rgba(255, 255, 255, 0.32);
    --vkui--vkontakte_im_bubble_button_foreground: #e1e3e6;
    --vkui--vkontakte_im_bubble_button_foreground--hover: #e2e4e7;
    --vkui--vkontakte_im_bubble_button_foreground--active: #e3e5e8;
    --vkui--vkontakte_im_bubble_incoming_highlighted: #656565;
    --vkui--vkontakte_im_bubble_incoming_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_incoming_highlighted--active: #717171;
    --vkui--vkontakte_im_bubble_gift_background: #857250;
    --vkui--vkontakte_im_bubble_gift_background--hover: #8a7857;
    --vkui--vkontakte_im_bubble_gift_background--active: #8f7d5e;
    --vkui--vkontakte_im_bubble_gift_background_highlighted: #ab9871;
    --vkui--vkontakte_im_bubble_gift_background_highlighted--hover: #ae9c77;
    --vkui--vkontakte_im_bubble_gift_background_highlighted--active: #b2a07c;
    --vkui--vkontakte_im_bubble_outgoing_alternate: #555555;
    --vkui--vkontakte_im_bubble_outgoing_alternate--hover: #5c5c5c;
    --vkui--vkontakte_im_bubble_outgoing_alternate--active: #636363;
    --vkui--vkontakte_im_attach_tint: #ffffff;
    --vkui--vkontakte_im_attach_tint--hover: #ebedf0;
    --vkui--vkontakte_im_attach_tint--active: #d7d8db;
    --vkui--vkontakte_im_reply_separator: #ffffff;
    --vkui--vkontakte_im_reply_separator--hover: #ebedf0;
    --vkui--vkontakte_im_reply_separator--active: #d7d8db;
    --vkui--vkontakte_im_toolbar_voice_msg_background: #555555;
    --vkui--vkontakte_im_toolbar_voice_msg_background--hover: #5c5c5c;
    --vkui--vkontakte_im_toolbar_voice_msg_background--active: #636363;
    --vkui--vkontakte_color_im_forward_line_alpha: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_color_im_forward_line_alpha--hover: rgba(255, 255, 255, 0.28);
    --vkui--vkontakte_color_im_forward_line_alpha--active: rgba(255, 255, 255, 0.32);
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha: rgba(0, 0, 0, 0.00);
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--hover: rgba(0, 0, 0, 0.04);
    --vkui--vkontakte_color_im_bubble_border_alternate_highlighted_alpha--active: rgba(0, 0, 0, 0.08);
    --vkui--vkontakte_color_im_bubble_incoming: #333333;
    --vkui--vkontakte_color_im_bubble_incoming--hover: #3b3b3b;
    --vkui--vkontakte_color_im_bubble_incoming--active: #434343;
    --vkui--vkontakte_color_im_bubble_incoming_alternate: #333333;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--hover: #3b3b3b;
    --vkui--vkontakte_color_im_bubble_incoming_alternate--active: #434343;
    --vkui--vkontakte_color_im_bubble_incoming_expiring: #262b4d;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--hover: #2f3354;
    --vkui--vkontakte_color_im_bubble_incoming_expiring--active: #373c5b;
    --vkui--vkontakte_color_im_bubble_outgoing: #555555;
    --vkui--vkontakte_color_im_bubble_outgoing--hover: #5c5c5c;
    --vkui--vkontakte_color_im_bubble_outgoing--active: #636363;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted: #5965b3;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--hover: #606bb6;
    --vkui--vkontakte_color_im_bubble_outgoing_expiring_highlighted--active: #6671b9;
    --vkui--vkontakte_color_im_bubble_gift_text: #ffffff;
    --vkui--vkontakte_color_im_bubble_gift_text--hover: #ebedf0;
    --vkui--vkontakte_color_im_bubble_gift_text--active: #d7d8db;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary: #e3d3ac;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--hover: #e4d5af;
    --vkui--vkontakte_color_im_bubble_gift_text_secondary--active: #e5d7b3;
    --vkui--vkontakte_color_im_text_name: #71aaeb;
    --vkui--vkontakte_color_im_text_name--hover: #77adec;
    --vkui--vkontakte_color_im_text_name--active: #7cb1ed;
    --vkui--vkontakte_button_muted_background: #333333;
    --vkui--vkontakte_button_muted_background--hover: #3b3b3b;
    --vkui--vkontakte_button_muted_background--active: #434343;
    --vkui--vkontakte_button_tertiary_foreground: #e1e3e6;
    --vkui--vkontakte_button_tertiary_foreground--hover: #e2e4e7;
    --vkui--vkontakte_button_tertiary_foreground--active: #e3e5e8;
    --vkui--vkontakte_float_button_foreground: #b2b2b2;
    --vkui--vkontakte_float_button_foreground--hover: #b5b5b5;
    --vkui--vkontakte_float_button_foreground--active: #b8b8b8;
    --vkui--vkontakte_landing_background: #222222;
    --vkui--vkontakte_landing_background--hover: #2b2b2b;
    --vkui--vkontakte_landing_background--active: #343434;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted: #656565;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_incoming_alternate_highlighted--active: #717171;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted: #404980;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted--hover: #485085;
    --vkui--vkontakte_im_bubble_incoming_expiring_highlighted--active: #4f588a;
    --vkui--vkontakte_im_bubble_outgoing_highlighted: #656565;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--hover: #6b6b6b;
    --vkui--vkontakte_im_bubble_outgoing_highlighted--active: #717171;
    --vkui--vkontakte_landing_secondary_button_background: rgba(255, 255, 255, 0.16);
    --vkui--vkontakte_landing_secondary_button_background--hover: rgba(255, 255, 255, 0.2);
    --vkui--vkontakte_landing_secondary_button_background--active: rgba(255, 255, 255, 0.24);
    --vkui--vkontakte_stories_skeleton_loader_background: #555555;
    --vkui--vkontakte_stories_skeleton_loader_background--hover: #5c5c5c;
    --vkui--vkontakte_stories_skeleton_loader_background--active: #636363;
    --vkui--vkontakte_palette_black--hover: #0a0a0a;
    --vkui--vkontakte_palette_black--active: #141414;
}

body {
    --vkui--size_border_radius--regular: 8px;
    --vkui--size_border_radius_paper--regular: 12px;
    --vkui--size_check_border_radius--regular: 4px;
    --vkui--size_button_large_height--regular: 44px;
    --vkui--size_button_large_height--compact: 36px;
    --vkui--size_button_medium_height--regular: 36px;
    --vkui--size_button_medium_height--compact: 32px;
    --vkui--size_button_small_height--regular: 30px;
    --vkui--size_button_small_height--compact: 28px;
    --wide-column-width: 550px;
    --narrow-column-width: 230px;
    --boxes-box-shadow: 0 2px 10px var(--black_alpha40);
    --online-badge-background: var(--vkui--color_background_content);
    --page-block-shadow: 0 1px 0 0 var(--vkui--color_separator_primary), 0 0 0 1px var(--vkui--color_separator_secondary);
    --page-block-offset: 15px;
    --page-block-header-height: 54px;
    --page-block-header-button-margin-top: 14px;
    --page-block-header-font-size: 16px;
    --h2-font-size: 16px;
}

    background: var(--vkui--color_background);
    color: var(--vkui--color_text_primary);
    margin: 0;
    padding: 0;
    direction: ltr;
    font-size: var(--vkui--font_text--font_size--compact);
    font-family: var(--palette-vk-font, -apple-system, BlinkMacSystemFont, 'Roboto', 'Helvetica Neue', Geneva, "Noto Sans Armenian", "Noto Sans Bengali", "Noto Sans Cherokee", "Noto Sans Devanagari", "Noto Sans Ethiopic", "Noto Sans Georgian", "Noto Sans Hebrew", "Noto Sans Kannada", "Noto Sans Khmer", "Noto Sans Lao", "Noto Sans Osmanya", "Noto Sans Tamil", "Noto Sans Telugu", "Noto Sans Thai", arial, Tahoma, verdana, sans-serif);
    line-height: 1.154;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
